html {
  scroll-behavior: smooth;
}
.sciencemag__newsletter__wrap {
  margin-top: 6vw;
}
.sciencemag__author__profileimages {
  position: relative;
  margin-top: calc(70px + 6vh);
  width: 100%;
  height: 22vw;
}
.profileimage__wrap {
  white-space: nowrap;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.profileimage__wrap a {
  font-size: 6vw;
  color: #BCBCBC;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4vw;
  text-decoration: none;
  transition: 0.3s;
}
.profileimage__wrap a:hover {
  color: white;
}
.authorimage__ring {
  display: inline-block;
  vertical-align: middle;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  border: 1vw solid white;
  -webkit-box-shadow: 0 0 100px 0px rgba(255, 255, 255,0.4), inset 0 0 100px 0px rgba(255, 255, 255,0.2);
  -moz-box-shadow: 0 0 100px 0px rgba(255, 255, 255,0.4), inset 0 0 100px 0px rgba(255, 255, 255,0.2);
  box-shadow: 0 0 100px 0px rgba(255, 255, 255,0.4), inset 0 0 100px 0px rgba(255, 255, 255,0.2);
}
.authorimage__image {
  width: 16vw;
  height: 16vw;
  margin-left: 2vw;
  margin-top: 2vw;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  z-index: 5;
}
.authorimage__image img {
  object-fit: cover;
  width: 16vw;
  height: 16vw;
}
.sciencemag__author__info {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.author__profileinfo h1 {
  font-size: 4vw;
  width: 100%;
  text-align: center;
  margin-bottom: 2vw;
}
.author__profileinfo p {
  width: 60vw;
  margin-left: 20vw;
  font-weight: 400;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.5;
  color: #eee;
}
.authorprofile__scroller__wrap {
  position: relative;
  width: 100%;
  height: 54px;
  margin-top: 2vw;
}
.authorprofile__scroller {
  background-color: white;
  display: block;
  color: black;
  text-transform: lowercase;
  padding: 15px 35px;
  border-radius: 35px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollanim 1s infinite alternate;
}
@keyframes scrollanim {
  0% {transform: translate(-50%, 0);}
  100% {transform: translate(-50%, 5px);}
}
.sciencmag__author__posts {
  position: relative;
  margin: 0 1.75vw;
}
@media all and (max-width: 985px) {
  .sciencemag__author__profileimages {
    height: 26.4vw;
  }
  .profileimage__wrap a {
    font-size: 7vw;
  }
  .authorimage__ring {
    width: 24vw;
    height: 24vw;
    border-width: 1.2vw;
  }
  .authorimage__image {
    width: 20vw;
    height: 20vw;
  }
  .authorimage__image img {
    width: 20vw;
    height: 20vw;
  }
  .author__profileinfo h1 {
    font-size: 6vw;
    margin-bottom: 2.2vw;
  }
  .author__profileinfo p {
    width: 65vw;
    margin-left: 17.5vw;
    font-size: 1.6vw;
  }
}
@media all and (max-width: 780px) {
  .sciencemag__author__profileimages {
    height: 30vw;
  }
  .profileimage__wrap a {
    font-size: 9vw;
  }
  .authorimage__ring {
    width: 27vw;
    height: 27vw;
    border-width: 1.5vw;
  }
  .authorimage__image {
    width: 22vw;
    height: 22vw;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
  }
  .authorimage__image img {
    width: 22vw;
    height: 22vw;
  }
  .author__profileinfo h1 {
    font-size: 8vw;
  }
  .author__profileinfo p {
    width: 80vw;
    margin-left: 10vw;
    font-size: 1.8vw;
    margin-bottom: 4vw;
  }
}
@media all and (max-width: 620px) {
  .sciencemag__author__profileimages {
    height: 50.6vw;
  }
  .authorprofile__scroller__wrap {
    display: none;
  }
  .profileimage__wrap a {
    font-size: 18vw;
    margin: 1vw;
  }
  .authorimage__ring {
    width: 46vw;
    height: 46vw;
    border-width: 2.3vw;
  }
  .authorimage__image {
    width: 40vw;
    height: 40vw;
    margin-left: 3vw;
    margin-top: 3vw;
  }
  .authorimage__image img {
    width: 40vw;
    height: 40vw;
  }
  .author__profileinfo h1 {
    font-size: 11vw;
    margin-left: 3vw;
    width: 94vw;
  }
  .author__profileinfo p {
    width: 90vw;
    margin-left: 5vw;
    font-size: 3.2vw;
    margin-bottom: 4vw;
  }
}
@media all and (max-width: 576px) {
  .author__profileinfo p {
    font-size: 3.6vw;
    margin-bottom: 0;
  }
  .sciencmag__author__posts {
    margin: 0 3vw;
  }
}
