# Ignore everything in the root except the "wp-content" directory.
/*
!.github
!.gitignore
!wp-content/
.DS_Store
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
!wp-content/plugins/colorful-categories/
!wp-content/plugins/genesis-custom-blocks/
!wp-content/plugins/mathjax-latex/

 
# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
# wp-content/themes/*
# !wp-content/themes/my-theme/

wp-content/themes/twentytwentyone
