# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

wp-content/plugins/capability-manager-enhanced/
wp-content/plugins/onelogin-saml-sso/
wp-content/plugins/wps-hide-login/
wp-content/plugins/wp-smushit/
wp-content/plugins/wordpress-seo/
wp-content/plugins/wordfence/
wp-content/plugins/schema-and-structured-data-for-wp/
wp-content/plugins/akismet/


 
# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
# wp-content/plugins/*
# !wp-content/plugins/my-directory-plugin/
 
# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
# wp-content/themes/*
# !wp-content/themes/my-theme/